<%- include('../includes/header.ejs', {titulo : 'Dashboard'}) %>

<main class="container-fluid">
    <div class="bg-primary.text-white.text-center.py-3 mb-4">
        <h1>Dashboard - Gerenciamento Escolar</h1>
    </div>

    <!--Cards principais com valores-->
    <section class="row text-center mb-4">
        <!-- Card  Total de Alunos-->
         <div class="col-md-3">
            <div class="card shadow-sm card-dec">
                <div class="card-body">
                <h5 class="card-title">Total de Alunos</h5>
                <p class="card-text display-4"><%= totalAlunos %></p>

            </div>
            </div>

         </div>

          <!-- Card  Total de Disciplinas-->
          <div class="col-md-3">
            <div class="card shadow-sm card-dec">
                <div class="card-body">
                <h5 class="card-title">Total de Disciplinas</h5>
                <p class="card-text display-4">30</p>

            </div>
            </div>

         </div>

          <!-- Card  Taxa de aprovação-->
          <div class="col-md-3">
            <div class="card shadow-sm card-dec">
                <div class="card-body">
                <h5 class="card-title">Taxa de aprovação</h5>
                <p class="card-text display-4">78%</p>

            </div>
            </div>

         </div>

          <!-- Card  N° Alunos Reprovados-->
          <div class="col-md-3">
            <div class="card shadow-sm card-dec">
                <div class="card-body">
                <h5 class="card-title">N° Alunos Reprovados</h5>
                <p class="card-text display-4">15</p>

            </div>
            </div>

         </div>

    </section>

    <!--Seção dos gráficos-->
    <section class="row">
        <!--Gráfico de Barras-->
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header.bg-secondary text-white">
                    Média por Disciplinas

               </div>      
               <div class="card-body">
                <canvas id="barrasMediaDisciplina"></canvas>
               </div>
         </div>
        </div>

         <!--Gráfico de Pizza-->
         <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header.bg-secondary text-white">
                    Aprovação dos Alunos

               </div>      
               <div class="card-body">
                <canvas id="pizzaAprovacaoAlunos"></canvas>
               </div>
         </div>
        </div>
    </section>



</main>
 <script>

    //Recebendo o vetor mediaDisciplinas com o resultado da consulta do Banco de Dados
    const dadosMediaDisciplinas = <%- JSON.stringify(mediaDisciplinas)%>;

    //Extraindo nome e médias para gerar vetores individuais para os dados do gráfico
    const nomeDisciplinas = dadosMediaDisciplinas.map(d => d.nome_disciplina)
    const mediasDisciplinas = dadosMediaDisciplinas.map(d => d.media)

    // Bar Chart - Média de Notas por Disciplina
    const barCtx = document.getElementById('barrasMediaDisciplina').getContext('2d');
            new Chart(barCtx, {
                type: 'bar',
                data: {
                    labels: nomeDisciplinas,
                    datasets: [{
                        label: nomeDisciplinas,
                        data: mediasDisciplinas,
                        backgroundColor: ['#007bff', '#28a745', '#ffc107', '#dc3545', '#6f42c1']
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { display: true },
                        tooltip: { enabled: true }
                    }
                }
            });

            //Gráfico de Pizza dasAprovações dos alunos
            const dadosAprovacaoAlunos = <%- JSON.stringify(statusAluno)%>;
            const statusAluno = dadosAprovacaoAlunos.map(x => x.status)
            const qtdAlunos = dadosAprovacaoAlunos.map(x => x.total)

            const pieCtx = document.getElementById('pizzaAprovacaoAlunos').getContext('2d');
            new Chart(pieCtx, {
                type: 'pie',
                data: {
                    labels: ['Aprovados', 'Reprovados', 'Recuperação'],
                    datasets: [{
                        data: [1, 2, 3],
                        backgroundColor: ['#28a745', '#dc3545', '#ffc107']
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { display: true },
                        tooltip: { enabled: true }
                    }
                }
            });
 </script>

<%- include('../includes/footer.ejs') %>