<%- include('../includes/header.ejs', { titulo : 'Lista Turmas'}) %>

<main>
    <h2>Lista de Turmas</h2>

    <a href="/turmas_escola/novo" class="btn btn-primary"> Adicionar Turma</a>

    <table class="dados-table">
        <thead>
            <tr>
                <th>Turma</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% for (let turma of turmas) { %>
                <tr>
                    <td> <%= turma.nome_turma %> </td>
                    <td>
                        <a href="/turmas_escola/<%= turma.id_turma %>/editar" class="btn btn-edit">Editar</a>
                        <form action="/turmas_escola/<%= turma.id_turma %>/deletar" method="POST">
                            <button type="submit" class="btn btn-delete"> Excluir </button>
                        </form>
                    </td>
                </tr>
           <% } %>
        </tbody>
    </table>

</main>

<%- include('../includes/footer.ejs') %>
  