<%- include('../includes/header.ejs', { titulo : 'Adicionar Disciplina' }) %>

<main>
    <h2>Adicionar Nova Disciplina</h2>

    <form action="/disciplinas/novo" method="POST" class="form">
        <div class="form-group">
            <label for="nome_disciplina">Nome da Disciplina:</label>
            <input type="text" id="nome_disciplina" name="nome_disciplina" required>
        </div>
        <div class="form-group">
            <label for="nome_professor">Professor:</label>
            <select id="id_professor" name="id_professor">
                <option value="1">Edcarlos</option>
                <option value="2">Talita</option>

                <% for (let professor of professoresCadastrados) { %>
                    <option value="<%= professor.id_professor %>"><%= professor.nome_professor %></option>
                <% } %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary"> Adicionar </button>
        <a href="/disciplinas/" class="btn btn-secondary">Cancelar</a>
        
        <% if(typeof mensagem != 'undefined') { %>
            <p><%= mensagem %> </p>
        <% } %>
        
    </form>
</main>

<%- include('../includes/footer.ejs') %>